.header {
    font-size: 30px;
}

.radio-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 100%;
}

.btn {
    margin: 10px;
}

@media (max-width: 580px) {
    .header {
        font-size: 24px;
    }
}